<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login - EHSL</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="col-sm-12 container">
        <div class="row">
            <div class="col-sm-offset-5">
                <div class="container col-sm-5" id="login1" >
                    <div class="container-fluid">
                        <h2 id="loginh2"><b>Welcome <br/>Excellent Health Solution</b> </h2>
                        <img src="../../static/img/Logo.gif" th:src="@{img/Logo.gif}" alt="Company Logo" id="loginLog" />
                        <p class="loginp"><i>&#733;Healthy happiness is our Wealth&#733;</i></p>
                    </div>
                    <div class="container-fluid">
                        <form class="form" th:action="@{/login}" method="post">
                            <div class="input-group ">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input id="username" type="text" class="form-control" name="username" placeholder="User Name" autofocus  required/>
                            </div>  &nbsp;
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" autofocus  required>
                            </div>
                            <div>
                                &nbsp; &nbsp; &nbsp;
                            </div>
                            <div>
                                <div class="container-fluid" th:if="${param.error}">
                                     <p class="text text-center text-danger">Invalid username or password. </p>
                                </div>
                            </div>
                            <div>
                                <div class="container-fluid" >
                                    <p class="text text-center text-danger"></p>
                                </div>
                            </div>
                            <button class="btn btn-info btn-sm" type="Submit" style="border-radius: 50px;font-size: 12px">&nbsp; Log in &nbsp;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>